<settings>
<servers>
  <server>
    <id>jrlabs-next-cicd-devops</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
<profiles>
  <profile>
    <id>jrlabs-next-cicd-devops</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>jrlabs-next-cicd-devops</id>
        <url>https://jrlabs-228183784570.d.codeartifact.us-west-2.amazonaws.com/maven/next-cicd-devops/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<mirrors>
  <mirror>
    <id>jrlabs-next-cicd-devops</id>
    <name>jrlabs-next-cicd-devops</name>
    <url>https://jrlabs-228183784570.d.codeartifact.us-west-2.amazonaws.com/maven/next-cicd-devops/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>
